<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <javaee:display-name>AssistPlus</javaee:display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetAssistText</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.AssistPlus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>complete</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.CompleteProgram</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>settings</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.UserSettings</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
 	</javaee:description>
    <javaee:display-name>loadClasses</javaee:display-name>
    <servlet-name>loadClasses</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.ClassListLoader</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
 	</javaee:description>
    <javaee:display-name>loadAttributes</javaee:display-name>
    <servlet-name>loadAttributes</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.AttributeListLoader</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
 	</javaee:description>
    <javaee:display-name>loadAssistTexts</javaee:display-name>
    <servlet-name>loadAssistTexts</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.AssistTextListLoader</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
 	</javaee:description>
    <javaee:display-name>loadRoles</javaee:display-name>
    <servlet-name>loadRoles</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.RolesLoader</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
 	</javaee:description>
    <javaee:display-name>userGroups</javaee:display-name>
    <servlet-name>userGroups</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.UserGroups</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
 	</javaee:description>
    <javaee:display-name>loadConfig</javaee:display-name>
    <servlet-name>loadConfig</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.ConfigLoader</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
 	</javaee:description>
    <javaee:display-name>activate</javaee:display-name>
    <servlet-name>activate</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.Activate</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
 	</javaee:description>
    <javaee:display-name>auth</javaee:display-name>
    <servlet-name>auth</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAssistText</servlet-name>
    <url-pattern>/GetAssistText</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadClasses</servlet-name>
    <url-pattern>/loadClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadAttributes</servlet-name>
    <url-pattern>/loadAttributes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadAssistTexts</servlet-name>
    <url-pattern>/loadAssistTexts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadRoles</servlet-name>
    <url-pattern>/loadRoles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userGroups</servlet-name>
    <url-pattern>/userGroups</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadConfig</servlet-name>
    <url-pattern>/loadConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>activate</servlet-name>
    <url-pattern>/activate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>complete</servlet-name>
    <url-pattern>/complete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>settings</servlet-name>
    <url-pattern>/settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>AssistColor</javaee:display-name>
    <servlet-name>AssistColor</servlet-name>
    <servlet-class>com.XACS.Assist.Servlet.AssistColor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssistColor</servlet-name>
    <url-pattern>/AssistColor</url-pattern>
  </servlet-mapping>
</web-app>