<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>AssistPlus</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetAssistText</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.AssistPlus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OptOut</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.OptOut</servlet-class>
  </servlet>
  <servlet>
    <display-name>loadClasses</display-name>
    <servlet-name>loadClasses</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.ClassListLoader</servlet-class>
  </servlet>
  <servlet>
    <display-name>loadAttributes</display-name>
    <servlet-name>loadAttributes</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.AttributeListLoader</servlet-class>
  </servlet>
  <servlet>
    <display-name>loadAssistTexts</display-name>
    <servlet-name>loadAssistTexts</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.AssistTextListLoader</servlet-class>
  </servlet>
  <servlet>
    <display-name>ClassNotificationMsgBar</display-name>
    <servlet-name>ClassNotificationMsgBar</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.ClassNotificationMsgBar</servlet-class>
  </servlet>
  <servlet>
    <display-name>loadRoles</display-name>
    <servlet-name>loadRoles</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.RolesLoader</servlet-class>
  </servlet>
  <servlet>
    <display-name>loadConfig</display-name>
    <servlet-name>loadConfig</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.ConfigLoader</servlet-class>
  </servlet>
  <servlet>
    <display-name>activate</display-name>
    <servlet-name>activate</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.Activate</servlet-class>
  </servlet>
   <servlet>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet>
    <display-name>auth</display-name>
    <servlet-name>auth</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAssistText</servlet-name>
    <url-pattern>/GetAssistText</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OptOut</servlet-name>
    <url-pattern>/OptOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadClasses</servlet-name>
    <url-pattern>/loadClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadAttributes</servlet-name>
    <url-pattern>/loadAttributes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadAssistTexts</servlet-name>
    <url-pattern>/loadAssistTexts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassNotificationMsgBar</servlet-name>
    <url-pattern>/ClassNotificationMsgBar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadRoles</servlet-name>
    <url-pattern>/loadRoles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadConfig</servlet-name>
    <url-pattern>/loadConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>activate</servlet-name>
    <url-pattern>/activate</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssistColor</display-name>
    <servlet-name>AssistColor</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.AssistColor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssistColor</servlet-name>
    <url-pattern>/AssistColor</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>DBUtility</display-name>
    <servlet-name>DBUtility</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.DBUtility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtility</servlet-name>
    <url-pattern>/DBUtility</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>DownloadXML</display-name>
    <servlet-name>DownloadXML</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.DownloadXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadXML</servlet-name>
    <url-pattern>/DownloadXML</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>DownloadXLSX</display-name>
    <servlet-name>DownloadXLSX</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.DownloadXLSX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadXLSX</servlet-name>
    <url-pattern>/DownloadXLSX</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ImportExcel</display-name>
    <servlet-name>ImportExcel</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.ImportExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExcel</servlet-name>
    <url-pattern>/ImportExcel</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>ExportExcel</display-name>
    <servlet-name>ExportExcel</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.ExportExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcel</servlet-name>
    <url-pattern>/ExportExcel</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>SearchAssistText</display-name>
    <servlet-name>SearchAssistText</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.SearchAssistText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAssistText</servlet-name>
    <url-pattern>/SearchAssistText</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AcknowledgeAssistMessage</display-name>
    <servlet-name>AcknowledgeAssistMessage</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.AcknowledgeAssistMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcknowledgeAssistMessage</servlet-name>
    <url-pattern>/AcknowledgeAssistMessage</url-pattern>
  </servlet-mapping>  
  <servlet>
    <display-name>ReplaceAll</display-name>
    <servlet-name>ReplaceAll</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.ReplaceAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplaceAll</servlet-name>
    <url-pattern>/ReplaceAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UsageReport</display-name>
    <servlet-name>UsageReport</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.UsageReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsageReport</servlet-name>
    <url-pattern>/UsageReport</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>UserAckReport</display-name>
    <servlet-name>UserAckReport</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.UserAckReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAckReport</servlet-name>
    <url-pattern>/UserAckReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationMsgBar</display-name>
    <servlet-name>NotificationMsgBar</servlet-name>
    <servlet-class>com.xavor.plmxl.assist.Servlet.NotificationMsgBar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationMsgBar</servlet-name>
    <url-pattern>/NotificationMsgBar</url-pattern>
  </servlet-mapping>
</web-app>